# Haskell
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.aux
/dist
/dist-newstyle
/.stack-work
cabal.project.local
cabal.project.local~
*.hp
*.eventlog
*.prof
*.prof.html
*.profiterole.html
*.profiterole.txt
/.profiling

# Sphinx & ReadTheDocs
/docs-doctrees

# Mac specific files
*.DS_Store

# VSCode
.vscode/

# Pycharm
.idea/

# Agda
*.agdai

# Emacs
*.agda~
MAlonzo/**

# Python
__pycache__/
.mypy_cache/
.tox/

# Vehicle files
*.vcl-cache
*.vclo

# Example folders
examples/windController/agdaProof/WindControllerSpec.agda

# Benchmarks
.benchmarks/
benchmarks.json

# Wheels
wheelhouselocal/
wheelhouse/

# Docker
.docker/
