# Haskell
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.prof.html
*.profiterole.html
*.profiterole.txt
*.aux
*.hp
*.eventlog
/dist
/dist-newstyle
/.stack-work
cabal.project.local
cabal.project.local~

# Sphinx & ReadTheDocs
/docs-doctrees

# Mac specific files
*.DS_Store

# VSCode
.vscode/

# Pycharm
.idea/

# Agda
*.agdai

# Emacs
*.agda~
MAlonzo/**

# Python
__pycache__/
.mypy_cache/

# Examples folder
examples/**/*.vclp
examples/windController/agdaProof/WindControllerSpec.agda
