global-include *.cabal
global-include *.def
global-include *.hs
global-include *.i
global-include *.py
global-include *.vcl

include cabal.project
include cabal.project.config
include cabal.project.freeze
graft vendor/vehicle
graft vendor/vehicle-syntax

prune build
prune dist-newstyle
