name: Build py-vehicle-lang-tensorflow

on:
  workflow_call:
  workflow_dispatch:

defaults:
  run:
    shell: sh

jobs:
  build-py-vehicle-lang-tensorflow:
    strategy:
      matrix:
        os:
          - name: "Linux"
            type: "ubuntu-latest"
          - name: "macOS"
            type: "macos-latest"
          # 21-11-2022:
          # This test is disabled on Windows due to an issue with TensorFlow.
          # See: https://github.com/vehicle-lang/vehicle/pull/255#issuecomment-1320985019
          # - name: "Windows"
          #   type: "windows-latest"

    name: py-vehicle-lang-tensorflow / ${{ matrix.os.name }}
    runs-on: ${{ matrix.os.type }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          cache: "pip"
          cache-dependency-path: "py-vehicle-lang-tensorflow/pyproject.toml"
          python-version: |
            3.8
            3.9
            3.10
            3.11

      - name: Test
        run: pipx run tox
        working-directory: py-vehicle-lang-tensorflow
