name: CI

on:
  push:
    branches:
      - dev
    tags:
      - "v*"
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  merge_group:

defaults:
  run:
    shell: sh

jobs:
  build-vehicle:
    uses: ./.github/workflows/build-vehicle.yml

  build-vehicle-python:
    uses: ./.github/workflows/build-vehicle-python.yml

  test-integration-bumpver:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: pipx run bumpver update --patch --dry

  test-integration-citation-cff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dieghernan/cff-validator@v3

  # NOTE: This job is disabled because Marabou reliably runs out of memory.
  #
  # test-integration-marabou:
  #   uses: ./.github/workflows/test-integration-marabou.yml

  test-integration-ormolu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: mrkkrp/ormolu-action@v16
        with:
          version: "0.7.1.0"

  ################################################################################
  # Publish package to GitHub Releases
  ################################################################################

  publish-package-to-github-releases:
    name: Publish package to GitHub Releases
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    needs:
      - build-vehicle
      - build-vehicle-python
      - test-integration-bumpver
      # - test-integration-marabou
      - test-integration-ormolu

    permissions:
      contents: write

    steps:
      - name: Download wheelhouse
        uses: actions/download-artifact@v4
        with:
          pattern: wheelhouse-*-*
          path: wheelhouse
          merge-multiple: true

      - name: Publish to GitHub Releases
        uses: softprops/action-gh-release@v2
        with:
          files: wheelhouse/*.whl
          fail_on_unmatched_files: true

  ################################################################################
  # Publish package to PyPI
  ################################################################################

  publish-package-to-pypi:
    name: Publish package to PyPI
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    needs:
      - build-vehicle
      - build-vehicle-python
      - test-integration-bumpver
      # - test-integration-marabou
      - test-integration-ormolu

    environment:
      name: pypi
      url: https://pypi.org/p/vehicle-lang

    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing

    steps:
      - name: Download wheelhouse
        uses: actions/download-artifact@v4
        with:
          pattern: wheelhouse-*-*
          path: wheelhouse
          merge-multiple: true

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: wheelhouse
