name: Test Marabou

on:
  workflow_call:

defaults:
  run:
    shell: sh

jobs:
  test-vehicle-marabou:
    strategy:
      matrix:
        os:
          - name: "Linux"
            type: "ubuntu-latest"
            plat: "manylinux_2_17_x86_64.manylinux2014_x86_64"
          - name: "macOS"
            type: "macos-latest"
            plat: "macosx_10_9_x86_64"
        haskell:
          - ghc:
              version: "9.4.4"
            cabal:
              version: "3.8.1.0"
              project-file: "cabal.project.ghc-9.4.4"
              extra-args: ""
        python:
          - version: "3.11"
            tag: "cp311"
        marabou:
          - version: "1.0.0"

    name: marabou / ${{ matrix.os.name }} - Python ${{ matrix.python.version }} - Marabou ${{ matrix.marabou.version }}
    runs-on: ${{ matrix.os.type }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup Haskell
        uses: ./.github/actions/setup-haskell
        with:
          ghc-version: ${{ matrix.haskell.ghc.version }}
          cabal-version: ${{ matrix.haskell.cabal.version }}
          cabal-project-file: ${{ matrix.haskell.cabal.project-file }}
          cabal-project-freeze-file: ${{ matrix.haskell.cabal.project-file }}.freeze

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "${{ matrix.python.version }}"

      - name: Setup Marabou
        run: pip install "https://github.com/vehicle-lang/Marabou/releases/download/v${{ matrix.marabou.version }}/maraboupy-${{ matrix.marabou.version }}-${{ matrix.python.tag }}-${{ matrix.python.tag }}-${{ matrix.os.plat }}.whl"

      - name: Test Vehicle-Marabou interaction
        run: |
          cabal test                           \
            vehicle:test:golden-tests          \
            --test-show-details=always         \
            --test-option=--color=always       \
            --test-option=--external-only=True \
            --test-option=--num-threads=1      \
            --test-option=--external=Marabou
