name: Vehicle test suite

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

env:
  GHC_VERSION: 9.0.1

jobs:
  install:
    name: Install Vehicle and run test suite
    runs-on: ubuntu-latest
    steps:
      - name: Checkout out code
        uses: actions/checkout@v2

      - name: Cache Haskell packages
        uses: actions/cache@v2
        id: cache-cabal
        with:
          path: |
            ~/.cabal/packages
            ~/.cabal/store
            dist-newstyle
          key: ${{ runner.os }}-${{ env.GHC_VERSION }}

      - name: Install Haskell
        uses: haskell/actions/setup@v1
        with:
          ghc-version: ${{ env.GHC_VERSION }}
          cabal-version: 'latest'

      - name: Initialise project
        run: yes | make init

      - name: Run test suite
        run: make test